@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


:root {
    --plomo-claro: hsl(210, 9%, 70%);
    --rojo-claro: hsl(6, 78%, 57%);
    --verde-claro: hsl(145, 61%, 90%);
    --verde-oscuro: hsl(168, 76%, 23%);
    --celeste: hsl(199, 92%, 56%);
    --anaranjado: hsl(14, 100%, 57%);
    --marron-claro: hsl(15, 15%, 69%);
    --blanco-plomo: hsl(0, 0%, 93%);
    --plomo-gris: hsl(0, 0%, 26%);
    --amarillo-brillante: hsl(75, 100%, 60%);
    --naranja-brillante: hsl(40, 100%, 70%);
    --rojo-brillante: hsl(0, 100%, 50%);
    --verde-brillante: hsl(60, 100%, 30%);
    --verde-claro-brillante: hsl(160, 100%, 70%);
    --verde-brillante-oscuro: hsl(108, 100%, 50%);
    --azul-brillante: hsl(240, 100%, 40%);
    --violeta-oscuro: hsl(270, 100%, 20%);

}

body {

    margin: 0;
    padding: 0;
    font-size: 63.3%;
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;
}